<section>
    <div>
        <header>
            <h2 class="primary">{{titleFree}}</h2>
        </header>
        <div class="content">
            <p class="price">
                <strong>R$ {{priceFree}},</strong><span>00</span>/mês
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <hr>
            <ul>
                <li>
                     <mat-icon>done</mat-icon>
                     Lorem ipsum dolor sit amet
                </li>
                <li>
                    <mat-icon>done</mat-icon>
                    Lorem ipsum dolor sit amet
               </li>
            </ul>
        
            <footer>
                <button>ASSINAR</button>
            </footer>
        </div>
    </div>

    <div>
        <header class="basic">
            <h2 class="primary">{{titleBasic}}</h2>
            <button>Popular</button>
        </header>
        <div class="content">
            <p class="price">
                <strong>R$  {{priceBasic}},</strong><span>00</span>/mês
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <hr>
            <ul>
                <li>
                  
                     <mat-icon>done</mat-icon>
                     Lorem ipsum dolor sit amet
                </li>
                <li>
                     <mat-icon>done</mat-icon>
                     Lorem ipsum dolor sit amet
                </li>
                <li>
                    <mat-icon>done</mat-icon>
                    Lorem ipsum dolor sit amet
               </li>
            </ul>
        
            <footer>
                <button class="button-basic">ASSINAR</button>
            </footer>
        </div>
    </div>

    <div>
        <header>
            <h2 class="primary">{{titleProfessional}}</h2>
        </header>
        <div class="content">
            <p class="price">
                <strong>R$ {{priceProfessional}},</strong><span>00</span>/mês
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <hr>
            <ul>
                
                <li>
                  
                     <mat-icon>done</mat-icon>
                     Lorem ipsum dolor sit amet
                </li>
                <li>
                     <mat-icon>done</mat-icon>
                     Lorem ipsum dolor sit amet
                </li>
                <li>
                  
                    <mat-icon>done</mat-icon>
                    Lorem ipsum dolor sit amet
               </li>
               <li>
                  
                <mat-icon>done</mat-icon>
                Lorem ipsum dolor sit amet
              </li>
               
            </ul>
        
            <footer>
                <button>ASSINAR</button>
            </footer>
        </div>
    </div>

</section>




