section {
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1.25rem;

    @media(max-width: 1201px){
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    
    div {
        width: 22.188rem;
        height: 31.375rem;
    
        margin-top: calc((200px / 2) * -1);
    
        background:  var(--white);
    
        border-radius: 8px;
        margin-bottom: 12rem;
        
        @media(max-width: 1201px){
            height: 100vh;
            margin-bottom: 12rem;

        }

       
            header {
                padding: 1.875rem;
                height: 5rem;
                h2 {
                    font-size: 1.125rem;
                    font-weight: 600;
                }
            }

            header.basic{
               display: flex;
               justify-content: space-between;
               background: var(--yellow-500);
               border: none;
               border-radius: 8px 8px 0 0;
           

               h2{
                color: var(--blue-500);
               }

               button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 8px 24px;
                gap: 10px;

            
                width: 94px;
                height: 32px;
               
                border: none;

                background: var(--blue-500);
                color: var(--white);
                border-radius: 40px;

                &:hover{
                    background: transparent;
                    color: var(--blue-500);
                    border: 1px solid var(--blue-500);
                    transition: 0.2s;
                }
               }
               
            }
            
            .content {
                padding: 1.875rem;
                margin-top: 0.1rem;
     
                
            .price {
                top: 24.063rem;
                color: var( --gray-200);
                font-size: 1.125rem;
                letter-spacing: 0.5px;
    
                strong{
                    font-size: 2rem;
                    font-weight: 700;
                    color: var(--gray-900);
                }
    
                span{
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: var(--gray-900);
                }
            }
    
            hr{
                border: 1px solid #eeeeee;
                margin-top: 1.25rem;
           
            }
    
            p{
                font-size: 0.875rem;
                color: var(--gray-200);
                margin-top: 0.625rem;
            }
    
            ul {
                margin-top: 1.25rem;
                height: 9rem;
                list-style: none;
    
                li {
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: var(--gray-200);
                    margin-top: 0.25rem;
                    line-height: 2rem;
    
                    display: flex;
                    align-items: center;
    
                    
                    .mat-icon{
                        color: var(--green-300);
                        width: 18px;
                        height: 18px;
                        margin-right: 15px;
                    }
                    
    
                }
            }
    
            footer {
                margin-top: 7rem;
    
                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    font-size: 1.25rem;
                    font-weight: 600;
    
                    width: 100%;
    
                    padding: 12px 24px;
                    gap: 10px;
    
                    border: 1px solid var(--blue-500);
                    background: transparent;
                    color: var(--blue-500);
                    border-radius: 10px;
    
                   &:hover {
                    background-color: var(--blue-500);
                    color: var(--white);
                    transition: 0.2s;
                   }

                  
                }

                button.button-basic{
                    background-color: var(--blue-500);
                    color: var(--white);

                    &:hover {
                        background: transparent;
                        color: var(--blue-500);
                        transition: 0.2s;
                    }
               }
            }
            
        }
    }
    
}